<center><h1>Discounts for <%= @merchant.name %></h1><center>

<% if @merchant.bulk_discounts.empty? %>
  <p>There are no discounts for this merchant.</p>
<% else %>
<div class= "table-container">
<table class="table-style">
  <thead>
    <tr>
      <th>Discount Name</th>
      <th>Percentage off</th>
      <th>Item Threshold</th>
    </tr>
  </thead>
  </tbody>
  <% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id%>">
    <tr>
    <td><%= discount.name %></td>
    <td><%= number_to_percentage(discount.percentage * 100, precision: 0 ) %></td>
    <td><%= discount.item_threshold %></td>
    <tr>
  </section>
  <% end %>
  </tbody>
</table>
</div>
<% end %>